<div class="ui form">
  <%= form_for @portfolio do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle %>
    </div>

    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>

    <div class="actions">
      <%= link_to 'Back', portfolios_path, class: "ui button" %>
      <%= form.submit class: "ui button" %>
    </div>
  <% end %>
</div>
