<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-end" style="padding: 1.5em 0px">
  <%= link_to 'Add Portfolio', new_portfolio_path, class: "btn btn-primary" %>
</div>

<div class="row">
  <% @portfolios.each do |p| %>
    <div class="col-sm-4" style="padding-bottom: 2em">
      <div class="ui card" style = "width: 100%">
        <div class="image">
          <% if p.image_thumb.nil? %>
            <%=  image_tag("https://via.placeholder.com/350x250") %>
          <% else %>
            <%= image_tag(p.image_thumb) %>
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%= link_to "#{p.title}", portfolio_show_path(p) %></a>
          <div class="meta">
            <span class="date"><%= p.subtitle %></span>
          </div>
          <div>
            <% p.tags.each do |t| %>
              <i class="<%= t.font_awesome_class %>"></i>
            <% end %>
            <%= link_to p, method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="trash alternate outline icon float-right"></i>
            <% end %>
            <%= link_to edit_portfolio_path(p) do %>
              <i class="edit outline icon float-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
