<p id="notice"><%= notice %></p>

<div style="padding: 40px 0px">
  <%= link_to 'Add Portfolio', new_portfolio_path, class: "ui button" %>
</div>

<div class="ui three column grid">
  <% @portfolios.each do |p| %>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <% if p.image_thumb.nil? %>
            <%=  image_tag("https://via.placeholder.com/350x250") %>
          <% else %>
            <%= image_tag(p.image_thumb) %>
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%= link_to "#{p.title}", portfolio_path(p) %></a>
          <div class="meta">
            <span class="date"><%= p.subtitle %></span>
          </div>
          <%= link_to p, method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="trash alternate outline icon float-right"></i>
          <% end %>
          <%= link_to edit_portfolio_path(p) do %>
            <i class="edit outline icon float-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

