<% if @portfolio.image_thumb.nil? %>
  <%=  image_tag(
    "https://via.placeholder.com/350x250",
    :style => "width: 100%"
    )
  %>
<% else %>
  <%= image_tag(@portfolio.image_main, :style => "width: 100%") %>
<% end %>

<h1><%= @portfolio.title %></h1>
<h4><%= @portfolio.subtitle %></h4>
<p><%= @portfolio.body %></p>

<%= link_to 'Back', portfolios_path, class: "btn btn-primary" %>
